*.o
.directory
timingresult*.json
timingnsresult*.json
currentresult*.json
results*.csv
dctg
results/
build/
dramspec
.DS_Store
*.pro.user*
quickTests/
Makefile
architecture_input/test_trfc_tref1.json
technology_input/test_trfc_tref1.json
