*.o
.directory
timingresult*.json
timingnsresult*.json
currentresult*.json
results*.csv
dctg
results/
build/
dramspec
.DS_Store
*.pro.user*
quickTests/
Makefile
.qmake.stash
dramspec_test_plugin_import.cpp
dramspec_plugin_import.cpp
